In [ ]:
#Q1
l_tup = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
sorted_list = sorted(l_tup, key=lambda x: x[1])
print(sorted_list)

In [ ]:
#Q2
given_list = [1,2,3,4,5,6,7,8,9,10]
list(map(lambda input_list: input_list**2, given_list))

In [ ]:
#Q3
given_list = [1,2,3,4,5,6,7,8,9,10]
tuple(map(lambda input_list: str(input_list), given_list))

In [ ]:
#Q4
from functools import reduce
given_list = list(range(1,26))
reduce(lambda x,y: x*y, given_list)

In [ ]:
#Q5